@model MVC_Data_project.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.City)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Details)
        </th>
        <th></th>
    </tr>

   
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => Model.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => Model.City)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => Model.Details)
        </td>
        <td>
            @Html.ActionLink("Hide", "Hide", new { id = Model.Id })
        </td>
    </tr>

</table>