@using MVC_Data_project.Models
@model List<Person>


<div class="row">
    <div class="col-md-3">
        @Ajax.ActionLink("Name Up", "SortNameUp", new AjaxOptions
   {
       UpdateTargetId = "Search",
       InsertionMode = InsertionMode.ReplaceWith
   })
        |
        @Ajax.ActionLink("Name Down", "SortNameDown", new AjaxOptions
   {
       UpdateTargetId = "Search",
       InsertionMode = InsertionMode.ReplaceWith
   })
    </div>
    <div class="col-md-3">
        @Ajax.ActionLink("City Up", "SortCityUp", new AjaxOptions
   {
       UpdateTargetId = "Search",
       InsertionMode = InsertionMode.ReplaceWith
   })
        |
        
            @Ajax.ActionLink("City Down", "SortCityDown", new AjaxOptions
       {
           UpdateTargetId = "Search",
           InsertionMode = InsertionMode.ReplaceWith
       })
        </div>
        <div class="col-md-3">
            @Html.DisplayName("Phone Number")
        </div>
        <div class="col-md-3">
            @Html.DisplayName("Details")
        </div>
    </div>
