@model MVC_Data_project.Models.Person

<div class="row">
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-3">
        @Model.PhoneNumber
    </div>
    <div class="col-md-3">
        @Model.City
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>